<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>
<!-- 固定在底部 -->
<div class="footer-fixed" th:fragment="fixed">
    <p>Copyright © 2018-2020<a style="cursor: pointer;">sandman.com 出品</a></p>
    <p><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=37021302000490" target="_blank"><img src="img/images/beian.png">鲁公网安备 37021302000490号</a><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备19007259号</a></p>
</div>
<!-- 撑开 -->
<div class="footer-stretched" th:fragment="stretched">
    <p>Copyright © 2018-2020<a style="cursor: pointer;">sandman.com 出品</a></p>
    <p><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=37021302000490" target="_blank"><img src="img/images/beian.png">鲁公网安备 37021302000490号</a><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备19007259号</a></p>
</div>
</body>
</html>