<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>
<div th:fragment="list" class="layui-bg-black">
    <div class="layui-container">
        <ul class="layui-nav">
            <!-- logo -->
            <li class="layui-nav-item"><a href="/pubg"><img alt="PUBGFourAngryMen" width="20" height="20" src="img/icon/icon.jpg"></a></li>
            <!-- 菜单 -->
            <li class="layui-nav-item layui-this"><a href="/pubg">MatchList</a></li>
            <li class="layui-nav-item"><a href="/pubg/match">MatchDetail</a></li>
            <li class="layui-nav-item"><a href="/pubg/track">Track</a></li>
            <!-- 搜索框 -->
            <ul class="layui-nav-item layui-layout-right">
                <li class="layui-nav-item">
                    <div class="layui-form">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <div class="layui-input-inline" style="top: 12px"><input id="playerName" type="text" class="layui-input" placeholder="Search"></div>
                                <button type="button" onclick="searchByPlayerName()" class="layui-btn layui-btn-primary"><i class="layui-icon layui-icon-search"></i> Search</button>
                                <button type="button" onclick="fetchFromRemote()" class="layui-btn layui-btn-normal"><span class="layui-icon layui-icon-download-circle"></span> Update</button>
                                <!--<button type="button" onclick="reset()" class="layui-btn layui-btn-normal"><span class="layui-icon layui-icon-download-circle"></span> Update</button>-->
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </ul>
    </div>
</div>
<div th:fragment="detail" class="layui-bg-black">
    <div class="layui-container">
        <ul class="layui-nav">
            <!-- logo -->
            <li class="layui-nav-item"><a href="/pubg"><img alt="PUBGFourAngryMen" width="20" height="20" src="img/icon/icon.jpg"></a></li>
            <!-- 菜单 -->
            <li class="layui-nav-item"><a href="/pubg">MatchList</a></li>
            <li class="layui-nav-item layui-this"><a href="/pubg/match">MatchDetail</a></li>
            <li class="layui-nav-item"><a href="/pubg/track">Track</a></li>
        </ul>
    </div>
</div>
<div th:fragment="track" class="layui-bg-black">
    <div class="layui-container">
        <ul class="layui-nav">
            <!-- logo -->
            <li class="layui-nav-item"><a href="/pubg"><img alt="PUBGFourAngryMen" width="20" height="20" src="img/icon/icon.jpg"></a></li>
            <!-- 菜单 -->
            <li class="layui-nav-item"><a href="/pubg">MatchList</a></li>
            <li class="layui-nav-item"><a href="/pubg/match">MatchDetail</a></li>
            <li class="layui-nav-item layui-this"><a href="/pubg/track">Track</a></li>
        </ul>
    </div>
</div>
</body>
</html>