<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>对局详情</title>
    <link rel="icon" href="img/icon/icon.jpg">
    <link rel="stylesheet" href="layui/css/layui.css">
    <script src="js/lib/jquery-3.5.1.min.js"></script>
    <script src="layui/layui.js"></script>
</head>
<body>

    <div th:replace="header :: detail"></div>
    <p th:text="'Hello！, ' + ${matchId} + '!'"></p>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md2 layui-card">
            <div class="layui-card-header">耗时</div>
            <div class="layui-card-body">
                12
            </div>
        </div>

        <div class="layui-col-md2 layui-card">
            <div class="layui-card-header">自定义模式</div>
            <div class="layui-card-body">
                否
            </div>
        </div>

        <div class="layui-col-md2 layui-card">
            <div class="layui-card-header">地图</div>
            <div class="layui-card-body">
                雨林
            </div>
        </div>

        <div class="layui-col-md2 layui-card">
            <div class="layui-card-header">小队模式</div>
            <div class="layui-card-body">
                四排
            </div>
        </div>

        <div class="layui-col-md2 layui-card">
            <div class="layui-card-header">拉取日志</div>
            <div class="layui-card-body">
                已拉取
            </div>
        </div>

        <div class="layui-col-md2 layui-card">
            <div class="layui-card-header">对局时间</div>
            <div class="layui-card-body">
                2020-07-20 15:13:43
            </div>
        </div>
    </div>

    <table id="me" class="layui-table-hover"></table>
</body>
<script>
    var matchTable;
    layui.use('table',function () {
        matchTable = layui.table;
        matchTable.render({
            elem: '#me'
            ,data: '[{"matchId":"123345","duration":3,"customMatch":1,"mapName":"雨林","gameMode":"四排","createTime":"2020-07-20 15:13:43"}]'
            ,cols: [
                [
                    {field:'matchId', minWidth:70, title: '对局ID',style:'text-align: left;'}
                    ,{field:'duration', width:100, title: '持续时间',style:'text-align: center;'}
                    ,{field:'customMatch', width:100, title: '自定义对局',style:'text-align: center;',templet:function (data) {
                        if(data.customMatch === 1){
                            return '是';
                        }else{
                            return '否';
                        }
                    }}
                    ,{field:'mapName', width:120, title: '地图名称',style:'text-align: center;'}
                    ,{field:'gameMode', width:100, title: '游戏模式',style:'text-align: center;'}
                    ,{field:'createTime', width:180, title: '对局时间',style:'text-align: center;'}
                    ,{fixed:'right', width:200, title: '操作',style:'text-align: left;', templet:function (data) {
                        if(data.fetchLog === 1){
                            return "<button onclick='repay(" + data.id + ")' class='layui-btn layui-btn-sm layui-btn-normal'>对局详情</button><a href='/findPlz_manager/delete?id=" + data.id + "' class='layui-btn layui-btn-sm layui-btn-danger'>对局日志</a>";
                        }else{
                            return "<button onclick='repay(" + data.id + ")' class='layui-btn layui-btn-sm layui-btn-normal'>对局详情</button>";
                        }
                    }}
                ]
            ]
        });
    });

</script>
</html>