<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>对局详情</title>
    <link rel="icon" href="img/icon/icon.jpg">
    <link rel="stylesheet" href="layui/css/layui.css">
    <script src="js/lib/jquery-3.5.1.min.js"></script>
    <script src="layui/layui.js"></script>
    <script src="js/util/Table.js"></script>
    <!--<script src="layui/lay/modules/layer.js"></script>-->
    <style>
        .table-hover > tbody > tr:hover > td{
            background-color: #e6e6e6;
        }
    </style>
</head>
<body>

<div th:replace="header :: detail"></div>
<div class="layui-row" style="margin: 20px">
    <div class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <div class="layui-input-inline"><input id="matchId" th:value="${matchId}" type="text" class="layui-input" placeholder="matchId"></div>
                <div class="layui-input-inline"><input id="playerName" th:value="${playerName}" type="text" class="layui-input" placeholder="playerName"></div>
                <button type="button" onclick="findMatchDetailByMatchIdAndPlayerName()" class="layui-btn layui-btn-normal"><i class="layui-icon layui-icon-search"></i> Search</button>
            </div>
        </div>
    </div>
</div>
<div class="layui-row layui-col-space15">
    <div class="layui-col-md2 layui-card">
        <div class="layui-card-header">耗时</div>
        <div class="layui-card-body">
            <p id="duration"></p>
        </div>
    </div>

    <div class="layui-col-md2 layui-card">
        <div class="layui-card-header">自定义模式</div>
        <div class="layui-card-body">
            <p id="customMatch"></p>
        </div>
    </div>

    <div class="layui-col-md2 layui-card">
        <div class="layui-card-header">地图</div>
        <div class="layui-card-body">
            <p id="mapName"></p>
        </div>
    </div>

    <div class="layui-col-md2 layui-card">
        <div class="layui-card-header">小队模式</div>
        <div class="layui-card-body">
            <p id="gameMode"></p>
        </div>
    </div>

    <div class="layui-col-md2 layui-card">
        <div class="layui-card-header">拉取日志</div>
        <div class="layui-card-body">
            <p id="fetchLog"></p>
        </div>
    </div>

    <div class="layui-col-md2 layui-card">
        <div class="layui-card-header">对局时间</div>
        <div class="layui-card-body">
            <p id="createTime"></p>
        </div>
    </div>
</div>

<table id="me" class="layui-table table-hover"></table>
<table id="team" class="layui-table table-hover"></table>
<table id="all" class="layui-table table-hover"></table>
</body>
<script>
    var layer;
    layui.use('layer',function () {
        layer = layui.layer;
    });
    // 定义表头映射
    var mapper = {
        "playerName":"昵称"
        ,"winPlace":"排名"
        ,"damageDealt":"造成伤害"
        ,"kills":"击杀"
        ,"headshotKills":"爆头"
        ,"assists":"助攻"
        ,"killStreaks":"连杀"
        ,"revives":"复活队友"
        ,"teamKills":"误杀队友"
        ,"heals":"治疗次数"
        ,"roadKills":"撞死人数"
        ,"deathType":"死亡原因"
        ,"timeSurvivedStr":"存活时间"
        ,"walkDistance":"跑步距离"
        ,"rideDistance":"驾车距离"
        ,"swimDistance":"游泳距离"
        ,"longestKill":"最远击杀距离"
        ,"vehicleDestroys":"摧毁载具"
        ,"weaponsAcquired":"获得武器"
        ,"boosts":"饮料加速"
    };
    /**
     * 进页面先触发一次
     * */
    findMatchDetailByMatchIdAndPlayerName();
    function findMatchDetailByMatchIdAndPlayerName() {
        let matchId = $("#matchId").val();
        if(!matchId){
            return;
        }
        let playerName = $("#playerName").val();
        let url = playerName?"/pubg/match/findMatchDetailByMatchIdAndPlayerName":"/pubg/match/findMatchDetailByMatchId";
        // 请求
        $.ajax({
            url: url,
            type: 'post',
            data: JSON.stringify({"matchId":matchId, "playerName":playerName}),
            contentType: 'application/json',
            success: (result) => {
                if(result.status === 0){
                    /** 请求成功,铺上数据 **/
                    // 比赛细节
                    let detail = result.data.match;
                    // 比赛耗时
                    $("#duration").html(detail.durationStr);
                    // 是否自定义比赛
                    $("#customMatch").html(detail.customMatchStr);
                    // 地图名称
                    $("#mapName").html(detail.mapName);
                    // 小队模式
                    $("#gameMode").html(detail.gameMode);
                    // 是否已拉取日志
                    $("#fetchLog").html(detail.fetchLogStr);
                    // 比赛创建时间
                    $("#createTime").html(detail.createTime);
                    // console.info("personal size is " + result.data.matchPlayer);
                    if(result.data.matchPlayer != null){
                        objCreateTable("#me", "个人结算数据", mapper, result.data.matchPlayer);
                    }
                    if(result.data.teamPlayers != null && result.data.teamPlayers.length > 0){
                        listCreateTable("#team", "团队结算数据", mapper, result.data.teamPlayers);
                    }
                    if(result.data.matchPlayers != null && result.data.matchPlayers.length > 0){
                        listCreateTable("#all", "全部结算数据", mapper, result.data.matchPlayers);
                    }
                }else{
                    layer.msg(result.statusDesc,{icon:5});
                }
            }
        });
    }

</script>
</html>