<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>位置追踪1</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/player-list.css">
    <link rel="stylesheet" href="css/loader.css">
    <script src="js/lib/jquery-3.5.1.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/util/MapConstant.js"></script>
    <script src="js/util/PubgMap.js"></script>
    <script src="js/util/TeamList.js"></script>


</head>
<body>
<div id="globalSpinner" class="loader center-screen top-level" style="display: none"></div>

<div class="container-fluid testtest">

    <div class="row">
        <!--参数输入-->
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" id="matchIdInput1" placeholder="matchId">
            </div>
            <div class="btn btn-primary" id="btnGetTrack">load</div>
        </form>
    </div>

    <div class="row">
    </div>

    <div class="row">
        <div class="col-lg-4">
            <!--队伍列表-->
            <div id="teamList"></div>
        </div>

        <div class="col-lg-8">

            <input type="range" id="timeRange" min="0" max="1000" step="1">
            <!--地图-->
            <div id="pubgMap"></div>
        </div>
    </div>


</div>

</body>
<script>
    const pubgMap = new PubgMap("pubgMap", 800, 800);
    const teamList = new TeamList("teamList", true);

    const baseUrl = "/pubg";
    let trackData = {};
    let currentInstant = 0;

    teamList.onSelected(() => {
        drawInstantContent(currentInstant);
    })

    $("#timeRange").val(0).attr("disabled", "true");
    $("#btnGetTrack").click(() => {
        const matchId = $("#matchIdInput1").val();
        if (!matchId) {
            return;
        }
        $("#globalSpinner").css("display", "block");

        $.ajax({
                url: baseUrl + "/position/track/" + matchId,
                success: (e) => {
                    console.log(e)
                    trackData = e;
                    $("#timeRange").attr("max", e.end).removeAttr("disabled").val(0);
                    //载入地图
                    pubgMap.setBackgroundMap(mapConstant.source[e.mapType], 800, 800);
                    //载入玩家列表
                    const characters = [];
                    for (let c in e.characters) {
                        characters.push(e.characters[c]);
                    }
                    teamList.load(characters);
                    drawInstantContent(0);

                    console.log("finish")
                    $("#globalSpinner").css("display", "none");
                }
            }
        )
    })

    //拖动事件
    $("#timeRange").on("input", (e) => {
        const current = e.target.value;
        currentInstant = current;
        drawInstantContent(current);
    })

    /**
     * 绘制某一时刻
     * @param instant 时刻 拖动条的值
     */
    function drawInstantContent(instant) {
        pubgMap.clear();
        if (instant == 0) {
            drawPersonalTrackLine();
            return;
        }

        let DRAW_NAME = true;

        //遍历玩家
        for (let character in trackData.characters) {
            const accountId = trackData.characters[character].accountId;

            //判断是否输出该角色
            if (!teamList.isSelected(accountId)) {
                continue;
            }

            let instantValue = trackData.positions[instant];
            if (!instantValue) {
                continue;
            }

            let characterPos = instantValue[accountId];
            //如果该时刻该角色存在位置信息
            if (characterPos) {
                if (characterPos.location == null) {
                    continue;
                }
                const displayName = DRAW_NAME ? characterPos.name : "";
                pubgMap.drawPosition(characterPos.location.xratio, characterPos.location.yratio, characterPos.teamId, displayName);
            } else {
                //判断是否死亡
                const deathTime = trackData.deathLog[accountId];
                if (deathTime === undefined || deathTime > instant) {
                    //回溯时间查找
                    for (let past = instant - 1; past >= 0; past--) {
                        if (!trackData.positions[past]) {
                            continue;
                        }
                        characterPos = trackData.positions[past][accountId];
                        if (characterPos) {
                            if (characterPos.location == null) {
                                continue;
                            }
                            const displayName = DRAW_NAME ? characterPos.name : "";
                            pubgMap.drawPosition(characterPos.location.xratio, characterPos.location.yratio, characterPos.teamId, displayName);
                            break;
                        }
                    }
                }

            }
        }


    }

    /**
     * 绘制个人维度路线
     */
    function drawPersonalTrackLine() {
        for (let accountId in trackData.playerTrack) {
            if (!teamList.isSelected(accountId)) {
                continue;
            }
            const lineData = trackData.playerTrack[accountId];
            const teamId = trackData.characters[accountId].teamId;
            pubgMap.drawPath(lineData, teamId);

        }
    }


</script>
<style>
    .testtest {
        border: solid red;
    }

    #timeRange {
        width: 800px;
    }

</style>
</html>